@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "XDPrime";
    src: url("../public/fonts/XDPrime/XDPrime-Regular.otf");
  }
}

.slick-dots li button::before {
  color: #1ccad3 !important;
  font-size: 12px !important;
  margin-top: 10px !important;
}
