@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "XDPrime-Reg";
    src: url("../public/fonts/XDPrime/XDPrime-Regular.otf");
  }

  @font-face {
    font-family: "XDPrime-Bold";
    src: url("../public/fonts/XDPrime/XDPrime-Bold.otf");
  }

  @font-face {
    font-family: "XDPrime-BoldItalic";
    src: url("../public/fonts/XDPrime/XDPrime-BoldItalic.otf");
  }
}

.slick-dots li button::before {
  color: #1ccad3 !important;
  font-size: 12px !important;
  margin-top: 10px !important;
}
